.footer {
    margin-top: auto;
}
.footer__copy {
    display: block;
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: var(--small-font-size);
}
//
// -----------------------------------------------------
@media screen and (max-width: 320px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1150px) {
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 1149px) {
}

@media screen and (max-width: 575px) {
}
