// ----------------------------------------------
// HEADER & NAV ---------------------------------
// ----------------------------------------------
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    border-bottom: 1px solid var(--dark-12);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item,
.nav__logo,
.nav__close,
.nav__toggle,
.nav__actions {
    display: flex;
    cursor: pointer;
    color: var(--light-10);
    font-size: 1.4rem;
}

.nav__logo {
    column-gap: 0.25rem;
    align-items: center;
    font-size: 1.4rem;
    transition: 0.4s;
}

.nav__logo i {
    color: var(--first-color);
    font-size: 1.4rem;
}

.nav__actions {
    column-gap: 1.5rem;
    align-items: center;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link,
.nav__actions > div,
.nav__actions {
    color: var(--title-color);
    transition: color 0.4s;
}
.nav__link:hover,
.nav__actions > div:hover,
.nav__actions > a:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
}

.blur-header {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}
.blur-header::after {
    content: "";
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(228, 24%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    top: 0;
    left: 0;
    z-index: -1;
}
//
// -----------------------------------------------------
@media screen and (max-width: 320px) {
    .nav__actions {
        column-gap: 0.5rem;
    }
    .nav__link {
        margin-top: 0.1rem;
        font-size: 0.9rem;
    }
    .nav__logo {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1150px) {
    .nav__toggle,
    .nav__close {
        display: none;
    }
    .nav__logo i {
        font-size: 2rem;
    }
    .nav__menu {
        width: initial;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 3.5rem;
        font-size: 1.4rem;
    }
    .nav__actions {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(228, 24%, 6%, 0.2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right 0.4s;
    }
}

@media screen and (max-width: 1149px) {
    .nav__actions {
        font-size: 1.2rem;
    }
    .nav__logo {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 575px) {
    .nav__logo {
        font-size: 1rem;
    }
    .nav__logo i {
        font-size: 1.2rem;
    }
    .nav__list {
        column-gap: 3.5rem;
        font-size: 1rem;
    }
    .nav__actions {
        font-size: 1rem;
    }
}

/* Show menu */
.show-menu {
    right: 0;
    border-left: 1px solid black;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.9);
}
