/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: hsl(228, 4%, 15%);
}
::-webkit-scrollbar-thumb {
    width: 0.6rem;
    background-color: hsl(228, 4%, 25%);
}
::-webkit-scrollbar-thumb:hover {
    width: 0.6rem;
    background-color: hsl(228, 4%, 35%);
}

/*=============== SCROLL UP ===============*/

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--container-color);

    font-weight: bold;
    color: var(--grn);
    border: 2px solid var(--grn);
    box-shadow: 0 12px 24px hsla(228, 48%, 4%, 0.5);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    z-index: var(--z-tooltip);
    transition: color 0.2s, background 0.2s, bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
    transform: translateY(-0.5rem);

    color: var(--container-color);
    border: 2px solid var(--grn);
    background-color: var(--grn);
}

/* Show Scroll Up */
.show-scroll {
    bottom: 3rem;
}
