.SH {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.SH-I {
    box-shadow: inset 3px 3px 3px -1px rgba(0, 0, 0, 0.4);
}
.SH-IX {
    box-shadow: inset 3px 3px 3px -1px rgba(0, 0, 0, 0.7);
}

.No-SH {
    text-shadow: none !important;
}

.NTS {
    text-shadow: none;
}
