.AlertModal {
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.886);
}

.AlertModal__alertList {
    background-color: var(--dark-6);
    overflow-y: scroll;
    padding: 1rem;
    display: grid;
    row-gap: 1rem;
}

.AlertModal__alertList-header {
    font-size: 1.2rem;
    color: var(--orn);
}

.AlertModal__alertList-item > div {
    background-color: var(--dark-9);
    border: 1px solid var(--dark-13);
    padding: 1rem;
    display: grid;
    row-gap: 1rem;
}

.AlertModal__alertList-item-header {
    font-size: 1.6rem;
    color: var(--orn);
}
.AlertModal__alertList-item-data {
    display: flex;
    font-size: 1.2rem;
}
.AlertModal__alertList-item-data :first-child {
    margin-top: 0.2rem;
    color: var(--blu);
    font-size: 1rem;
}

/*=============== BREAKPOINTS ===============*/
// --------------------------------------
@media screen and (max-width: 320px) {
    .AlertModal__alertList {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    .AlertModal__alertList {
        width: 80%;
    }
    .AlertModal__alertList-header {
        font-size: 1.4rem;
        color: var(--orn);
    }

    .AlertModal__alertList-item {
        font-size: 1.1rem;
        margin-left: 0.3rem;
        padding-right: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    .AlertModal__alertList {
        width: 50%;
    }
}

@media screen and (min-width: 1150px) {
}

@media screen and (max-width: 1149px) {
}

@media screen and (max-width: 575px) {
    .AlertModal__alertList {
        width: 90%;
    }
}
