.LoadingWall {
    z-index: 100;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.LoadingWall__panel {
    background-color: var(--dark-10);
    border: 1px solid var(--orn);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LoadingWall__panel-message {
    color: var(--orn);
    font-size: 2rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.LoadingWall__panel-spinner {
    font-size: 1rem;
    color: var(--light-0);
    animation: rotate 2s linear infinite; /* Adjust the duration and timing function as needed */
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .LoadingWall__panel {
        padding: 1rem;
        width: 200px;
    }
    .LoadingWall__panel-message {
        font-size: 1.2rem;
    }
    .LoadingWall__panel-spinner {
        font-size: 1.2rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .LoadingWall__panel {
        padding: 2rem;
        width: 315px;
    }
    .LoadingWall__panel-message {
        font-size: 2rem;
    }
    .LoadingWall__panel-spinner {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1150px) {
}

@media screen and (max-width: 1149px) {
}

@media screen and (max-width: 575px) {
    .LoadingWall__panel {
        padding: 1rem;
        width: 200px;
    }
    .LoadingWall__panel-message {
        font-size: 1.2rem;
    }
    .LoadingWall__panel-spinner {
        font-size: 1.2rem;
    }
}
