.profile__container {
    margin-top: 5rem;
    padding: 1rem;
    // box-shadow: inset 3px 3px 3px -1px rgba(0, 0, 0, 0.7);
    background-color: var(--dark-11);
    border: 1px solid var(--dark-12);
}

.profile__container h1 {
    color: var(--orn);
}
