.profile__container {
    margin-top: 5rem;
    padding: 1rem;
    // box-shadow: inset 3px 3px 3px -1px rgba(0, 0, 0, 0.7);
}

.profile__container h1 {
    color: var(--red);
}

.profile__header {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__links {
    display: flex;
    column-gap: 1rem;
}
.profile__links-buttonIcon {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--orn);
    transition: 0.4s;
}
.profile__links-buttonIcon:hover {
    color: var(--first-color);
}

.profile__data {
    background-color: var(--container-color);
    padding: 1rem;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
}

.profile__data-username,
.profile__data-isconnected,
.profile__data-notconnected {
    font-size: 1.2rem;
}

.profile__data-isconnected {
    color: var(--grn);
}
.profile__data-notconnected {
    color: var(--red);
}
